* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

/* App */

.container {
    width: 100%;
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}

.card {
    margin: 50px 0 0;
    padding: 10px;
    background: #333;
}